.view-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.view-menu h1 {
    color: #664121;
    font-weight: bold;
    font-family: Julius Sans One ;
    text-align: center;
    margin-top: 3%;
}

.view-menu-text {
    font-family: Julius Sans One ;
    color: #3b3b3b;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.view-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;

}

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
.view-menu-list-item img {
    width: 7.5vw;
    height: 7.5vw;
    object-fit: cover;
    min-width: 80px;
    background-color: transparent;
    transition: 0.2s;
    margin-top:20px ;
    transition: transform 0.4s ease-in-out;
    border-radius: 50%;
}

.view-menu-list::-webkit-scrollbar{
    display: none;
}

.view-menu-list-item img:hover {
    box-shadow: 0 0 10px #664121a8;
    transform: scale(1.2);
}

.view-menu-list-item {
    font-family: Julius Sans One ;
}

.home-logo {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-top: 30px;

}

.home-logo-container {
    position: relative;
    text-align: center;
  }
  
  .vertical-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #664121;
  }
  
  .left {
    left: calc(15%);
  }
  
  .right {
    right: calc(15%);
  }

  .view-menu-list-item .active {
    border: 4px soloid red;
    padding: 2px;

  }