@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.header {
    height: 34vw;
    margin:  auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 50%), 
    url('/src/assets/headerImage.jpeg');
  background-size: 100% 100%;
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 34px #333333b2;
    border-radius: 10px;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
}

.headerContent {
    position: absolute;
    bottom: 10%;
    left: 6vw;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1.5vw;
    text-align: center;
  }

  .headerContent h2 {
    font-weight: bold;
    font-size:max(4.5vw, 22px) ;
    margin-bottom: 0;

  }

  .headerContent p {
    font-size: 1vw;
    margin-bottom: 2vw;
    color: whitesmoke;
  }

  .headerContent button {
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-family: arial;
    font-weight: bold;
    transition: .5s ease-in-out;
  }

  .headerContent button:hover {
    background-color: #333333d9;
  }

