@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    
    
}

.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

}

.app {
    width: 80%;
    margin: auto;
}

.navbar .logo {
    width: 65px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 23px;
    color: #9b673c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 16px;
    font-weight: 500;

}

.search-icon, .basket-icon  {
    fill: #9b673c;
    width: 32px;
}

.navbar-right {
    align-items: center;
    display: flex;
    gap: 50;
    margin-left: 8px;
}

.navbar .active{
    padding-bottom: 3px;
    border-bottom: 2px solid #9b673c;
}

.navbar-search-icon {
    position: relative;

}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 15px;
    min-height: 15px;
    background-color: #9b673c;
    fill: #9b673c;
    border-radius: 10px;
    top: -8px;
    right: -8px;

}

.logo {
    margin-bottom: 0;
}


@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-search-icon {
        width:22px;

    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-search-icon {
        width:17px;

    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
      display: none;
    }
}


   



