body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app {
    width: 80%;
    margin: auto;
}

.navbar .logo {
    width: 100px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 23px;
    color: rgb(0, 132, 132);

}

.search-icon, .basket-icon  {
    width: 32px;
}

.navbar-right {
    align-items: center;
    display: flex;
    gap: 50;
    margin-left: 8px;
}

.navbar .active{
    padding-bottom: 3px;
    border-bottom: 1px solid red;
}

.navbar-search-icon {
    position: relative;

}

navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #333;
    
}